#parrafo {
    width: 500px;
    height: 700px;
    background-color: aquamarine;
    text-align: center;
    font-family: monospace;
    font-size: 22px;
    float: left;
    line-height: 30px;
    padding: 10px;
    margin-left: 146px;
}

#imagen {
    float: left;
}

body {
    justify-content: center;
    background-color: #7def64;
    font-family: monospace;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
}